// Typography
$root-font-size: 16px; // Most common font size in project
$font-family-default: "Roboto", sans-serif;

// Structure
$container-maxwidth: 66.25rem; // Design width was 1060, but to prevent decimals, I rounded to 88rem
$container-narrow-maxwidth: 45rem;
$container-gutter: 2rem;

// Colors
$text-color: #a1a8af;
$text-color-dark: #4c5766;

$app-header-color: #ebebeb;
$app-header-background-color: #646e7b;

// Breakpoints
$media-breakpoint-sm: 25rem;
$media-breakpoint-lg: 45rem;

// Elements
$common-radius: .166666667rem; // 2px sometimes I'm torn between readability and flexibility
