// Typography
$root-font-size: 12px; // Most common font size in project
$font-family-default: "Roboto", sans-serif;

// Structure
$container-maxwidth: 1060px;
$container-narrow-maxwidth: 720px;
$container-gutter: 2rem;

// Colors
$text-color: #A1A8AF;
$text-color-dark: #4C5766;

$app-header-color: #fff;
$app-header-background-color: #646e7b;
