.search-bar {
  position: relative;
  padding: 4px;
  background-color: transparentize(#fff, 0.8);
  border-radius: $common-radius;
  // NOTE: When no terms exists, this height will heep layout
  min-height: 45px; // TODO: Refactor with no min height
}

.search-bar__terms {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -0.5rem;

  > li {
    display: inline-block;
    margin-left: 0.5rem;
  }

  & {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  &.is-visible {
    opacity: 1;
  }
}

.search-bar__term {
  background-color: transparentize(#fff, 0.8);
  border-radius: $common-radius;
  line-height: 2.25rem;

  // Spacing and overall feel
  &__label,
  &__remove {
    padding: 5px 2px;
  }

  &__label {
    padding-left: 10px;
  }
  &__remove {
    cursor: pointer;
    display: inline-block;
    border: none;
    color: transparentize(#fff, 0.4);
    background-color: transparent;
    padding-right: 10px;
    font-size: 1.166666667rem; // This is equal to 14px. In rem is not very readable in this case, but it's worth it for the flexibility
    position: relative;
    z-index: 2;

    &:hover {
      background-color: transparentize(#fff, 0.8);
    }
  }
}

.search-bar__query {
  border: none;
  padding: 0 10px;
  background-color: transparent;
  color: inherit;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:focus {
    outline: unset;
  }

  & {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
  }
  &.is-visible {
    opacity: 1;
  }
}
