/*
 * Box sizing
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global style
 */
html {
  font-family: $font-family-default;
  font-size: $root-font-size;
  -webkit-font-smoothing: antialiased;
}
body {
  color: $text-color;
  background-color: #EBEFF1;
}

* {
//  background-color: rgba(0,0,0,0.05);
}
